
<h1>Introduction</h1>

<p>Welcome to the UNO Course Scheduling Assistant!  This home page serves as a guide to this site.  Below are some tips in using this web application.</p>

<h1>Explanations</h1>
<p>The following paragraphs are explanations for many of the various features of this web application.</p>

<h2>Import</h2>
<p>This page will allow you to upload a .csv file, exported from Excel, onto the website.  Importing requires a very specific table structure.  In the spreadsheet, you must change the course and section descriptions in order for the software to work.  Information on that is in the import page.  The file takes a long time to be processed by the system.  All of the data will be available when the website becomes available once again.</p>
<h2>Rooms, Instructors, Dates</h2>
<p>Upon visiting one of these pages you will be greeted by a table.  This table contains certain data.  Above the table, you can click the link to create a new item.  the 'Edit' and 'Delete' columns are self explanatory.  No other explanations are needed for this section.</p>
